@import 'reset';

body {
    background-color: #fafafa;
    font-family: 'Playfair Display', serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.post-link {
    color: #000;
    text-decoration: none;
    display: block;
    &:hover {
        span {
        border-bottom: 1px dotted #000;
        }
    }
    span {
        margin-top: 4px;
        line-height: 1.5;
    }
}